* {
    font-family: Arial, Helvetica, sans-serif;
}

.cart-container table {
    border-collapse: collapse!important;
    width: 100%;
    /* table-layout: fixed; */
}

.cart-container table thead {
    font-weight: 700;
}

.cart-container table thead td {
    background: #199dad;
    color: white;
    border: none;
    padding: 7px 0px;
}

.cart-container table td {
    border: 1px solid #b6b3b3;
    text-align: center;
}

.cart-container table td:nth-child(1) {
    width: 100px;
}

.cart-container table td:nth-child(2),
.cart-container table td:nth-child(3) {
    width: 200px;
}

.cart-container table td:nth-child(4),
.cart-container table td:nth-child(5),
.cart-container table td:nth-child(6) {
    width: 170px;
}

.cart-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.cart-container table tbody i {
    color: #8d8c89;
}

.table2 table thead td {
    background: #199dad;
    color: white;
    font-weight: 700;
}

.table2 table {
    border: 1px solid #b6b3b3;
    border-collapse: collapse!important;
    margin-left: 6.6rem;
}

.table2 table tbody td {
    padding: 15px;
}

.table-input {
    margin-left: 0rem!important;
    border: 2px solid #b6b3b3;
    outline: none;
}

.table-flex {
    display: flex;
    gap: 2rem;
}

.table-button {
    border: none;
    background: black;
    color: white;
    font-weight: 400;
    padding: 0.25rem;
}

body {
    position: relative;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url(choose.jpg) top center;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    object-fit: cover;
}

.shop {
    color: #199dad;
}

.navbar1 {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1rem;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    z-index: 4;
}

.navbar1.active {
    background: white!important;
    padding-top: 1rem!important;
    position: fixed;
    box-shadow: 0px 0px 12px gray;
    animation: slideIn 0.6s ease forwards;
}

.active2 {
    color: black!important;
}

.nav1 span,
.navbar3 span {
    color: lightcoral;
}

.logo {
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.logo img {
    width: 100px;
    height: 50px;
}

.navbar1 ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

ul li {
    list-style: none;
    transition: all 0.5s ease;
}

li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ul li:hover {
    transform: translateY(-2px);
}

.signe {
    background: #199dad;
    padding: 10px;
}

.signe:hover {
    box-shadow: 0px 2px 12px #09acbe;
}


/* Search */

.search {
    font-size: 20px;
}


/* Panier */

.panier {
    cursor: pointer;
    font-size: 20px;
    background: #199dad;
    border-radius: 40px;
    padding: 0.25rem;
    transition: all 0.5s ease;
}

.panier:hover {
    scale: 1.05;
}


/* Navbar */

.navbar2 {
    display: inline-flex;
    padding-left: 12.5rem;
    margin-top: 5rem;
    gap: 1rem;
}

.nav1 {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


/* Navbar3 */

.navbar3 {
    display: flex;
    flex-direction: column;
    margin-left: 12.5rem;
    margin-top: 5rem;
    width: 700px;
}

.navbar3 h1,
p {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.milieu {
    display: flex;
    justify-content: space-between;
    margin-block: 5rem;
    gap: 8rem;
    margin-inline-end: 30px;
}

.milieu-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img1 {
    width: 550px;
    height: 550px;
    object-fit: cover;
}

.img1 img {
    width: 550px;
    height: 550px;
}

.img2 {
    display: flex;
    gap: 10px;
}

.img2 img {
    width: 130px;
    height: 130px;
    cursor: pointer;
}


/* SELECT */

select,
.choit,
.choix {
    outline: none;
}

select {
    width: 195px;
    display: block;
    padding: 5px 10px;
}

.choix {
    line-height: 46px;
    width: 50px;
    font-size: 16px;
}

.choit {
    line-height: 44px;
    width: 100px;
    background: #199dad;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.adding {
    display: flex;
    gap: 2rem;
    margin-block: 2rem;
}

.milieu-txt {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.milieu-txt span {
    line-height: 26px;
}

.milieu-txt h6 {
    font-size: 12px;
}


/* Milieu */

.milieu2 {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* flex-basis: content; */
    padding: 0.5rem;
    border-block-start: 1px solid gray;
    padding-block-start: 9rem;
}

.cont-img {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24%;
    box-shadow: 0px 2px 5px gray;
    border-radius: 20px;
    padding: 0.5rem;
    margin-block-end: 3rem;
}

.cont-img img {
    border-radius: 12px;
    width: 350px;
    height: 350px;
}

.cont-img h5 {
    color: gray;
}

.cont-img h4 {
    font-size: 20px;
}

.pont-etoile {
    display: flex;
    cursor: pointer;
}

.pont-etoile i {
    color: gray;
}

.panier2 {
    cursor: pointer;
    font-size: 20px;
    background: #199dad;
    border-radius: 40px;
    padding: 0.5rem;
    position: absolute;
    bottom: 30px;
    right: 6px;
    transition: all 0.5s ease;
}

.panier2:hover {
    scale: 1.05;
}


/* back-to-top */

.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #199dad;
    cursor: pointer;
    z-index: 9999;
}

.back-to-top span {
    font-weight: 900;
    font-size: 4rem;
    height: 80px;
    width: 80px;
}

.footer {
    position: relative;
    background: url(b2.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 2rem;
    padding-block-end: 3rem;
    padding-block-start: 1rem;
}

.foot {
    display: flex;
    flex-direction: column;
}

.foot a {
    margin-top: 1rem;
    text-decoration: none;
    color: gray;
}

.foot h3 {
    cursor: pointer;
    color: white;
}

.foot h3:hover {
    text-decoration: underline;
}

.foot p {
    width: 200px;
}

textarea,
.inpt {
    outline: none;
    border: none;
}

.inpt {
    line-height: 30px;
    padding-inline: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.inpt:hover {
    background: lightcoral;
    color: white;
}

@media(max-width:320px) {
    .contenu {
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
        width: 320px;
    }
    .header {
        position: relative;
        height: 100%;
    }
    .active2 {
        background: rgba(92, 95, 126, 0.3);
        backdrop-filter: blur(7px);
        color: white;
    }
    .ouvre {
        display: block;
        position: fixed;
        font-size: 20px;
        right: 20px;
        top: 20px;
        color: white;
        cursor: pointer;
        z-index: 8;
    }
    .navbar3 {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-top: 5rem;
        width: 700px;
    }
    .navbar3 h1,
    .navbar3 p {
        font-weight: 300;
    }
    .navbar3 p {
        width: 250px;
        text-align: left;
        font-size: 12px;
    }
    .header2 {
        position: fixed;
        background: rgba(92, 95, 126, 0.3);
        backdrop-filter: blur(7px);
        display: flex;
        flex-direction: column;
        margin-right: 400px;
        gap: 0.5rem;
        width: 100%;
        opacity: 0;
        z-index: 4;
        transition: all 0.5s ease;
    }
    .navbar2 {
        display: none;
        flex-direction: column;
        padding-left: 1rem;
        margin-top: 5rem;
        gap: 1rem;
    }
    .navbar1 {
        position: relative;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 0;
        z-index: 0;
    }
    .acceuil {
        color: lightcoral;
    }
    .navbar1 .logo {
        display: none !important;
    }
    .navbar1 ul {
        display: flex;
        flex-direction: column;
    }
    .panier {
        cursor: pointer;
        font-size: 20px;
        background: none;
        /* border-radius: 40px; */
        position: relative;
        padding: 0;
        left: 0;
        bottom: 10px;
    }
    .navbar1 ul i {
        color: white;
    }
    .milieu {
        display: flex;
        flex-direction: column;
    }
    .img1 {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .img1 img {
        width: 300px;
        height: 300px;
    }
    .img2 {
        display: flex;
        gap: 8px;
    }
    .img2 img {
        width: 78px;
        height: 78px;
        cursor: pointer;
    }
    .milieu2 {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* flex-basis: content; */
        padding: 0.5rem;
        border-block-start: 1px solid gray;
        padding-block-start: 9rem;
    }
    .cont-img {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 280px;
        box-shadow: 0px 2px 5px gray;
        border-radius: 20px;
        padding: 0.5rem;
        margin-block-end: 3rem;
    }
    .cont-img img {
        border-radius: 12px;
        width: 280px;
        height: 280px;
    }
    .cont-img h5 {
        margin-block-start: 0.75rem;
        margin-block-end: 0.25rem;
    }
    .cont-img h4 {
        font-size: 15px;
        margin-block: 0.75rem;
    }
    .cont-img h3 {
        margin-block: 0.25rem;
        font-size: 15px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        padding-inline-start: 1rem;
        gap: 1rem;
    }
    .foot a {
        margin-top: 0.25rem;
        margin-left: 1rem;
        text-decoration: none;
        color: rgb(151, 151, 151)!important;
    }
    .foot h3 {
        cursor: pointer;
        color: white;
        font-size: 20px;
    }
    .foot h3:hover {
        text-decoration: underline;
    }
    .foot p {
        width: 300px;
        font-size: 13px;
        color: rgb(151, 151, 151)!important;
    }
    .detail {
        font-size: 13px;
        margin-left: 1rem;
        color: rgb(151, 151, 151)!important;
    }
    .foot h6 {
        font-size: 15px;
        margin-top: 0.5rem;
        margin-left: 1rem;
    }
    .zone1,
    input {
        margin-left: 1rem!important;
    }
}

input {
    margin-left: 1rem!important;
}

.zone1,
input {
    margin-left: 1rem!important;
}